@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#banner {
    background-image: url('./images/background.png');
    height: 100vh;
    max-height: 600px;
    width: 100vw;
}

h1 {
    color: #fff;
    margin: 30px;
    font-size: 48px;
}

#botoes {

}

#inicio img {
    margin: 0 100px 0 0;
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    height: 500px;
}

#logo img {
    width: 200px;
    padding: 40px 0 0 40px;
}

.botaocompre {
    background-color: #fff;
    color: #191919;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 30px;
    text-decoration: none;
    width: 270px;
    text-align: center;
    margin: 20px;
}

.botaomais {
    background-color: #fff;
    color: #191919;
    opacity: 0.7;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 30px;
    text-decoration: none;
    width: 270px;
    text-align: center;
    margin: 20px;
}

#produtos {
    background-color: #202832;
    color: #fff;
}

.produtos-lista img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 55px 0 55px;
    width: 100px;
    padding: 40px 0 0 40px; 
}

#maisdetalhes {
    background-color: #DBDBDB;
    color: #191919;
}

.container-detalhes {
    display: flex;
}

#final {
    background-color: #202832;
    color: #fff;
}

.footer {
    display: flex;
}